<html>
  <head>
    <title>Monitor</title>
    <style>
    	table {font-family: arial, sans-serif; border-collapse: collapse; width: 80%;}
    	td, th {border: 1px solid #dddddd; text-align: left; padding: 8px;}
    	tr:nth-child(even){background-color: #d9d0e2;}
    </style>
  </head>
  <body bgcolor="#c0b1ce">
    <div id ="d_div">
      <table id="d_table" style="width: 80%;">
        <tr> 
          <th>Timestamp</th>
          <th>Result</th>
          <th>Button</th>
        </tr>
        <tr>
          <td>0</td>
          <td>No results yet</td>
          <td></td>
        </tr>
      </table>
    </div>
    <script>
      function refresh(d_table, d_div){
        var playing = false;
        let t = 1000;
        
        async function untilPlaying(){
          if (!playing){
            setTimeout(untilPlaying, t);
          } 
        }
         
         (async function startRefresh(){
          
        
          let adress = 'localhost:5200/stuff';
          const response = await fetch("/json");
          const data = await response.json();
          const html_data = data.html;
          const tts_data = data.tts;
          const html_headers = '<tr><th>Timestamp</th><th>Result</th><th>TTS</th></tr>';
			  
	  let html_audio = '';
    	
          if (d_table && html_data && !playing){
	    let buttons = []
	    let sounds = []
            for (let i = 0; i < data.tts.length; i++) {
          	let v = data.tts[i];
          	let snd = new Audio("data:audio/wav;base64," + v.audio)
          	snd.setAttribute('id',v.name);
          	html_audio = html_audio + snd.outerHTML;
          	
          	buttons.push('b' + v.name)
          	sounds.push(v.name)
          	
	     }
            
	    d_div.innerHTML = '<table>' + html_headers + html_data + '</table>' + html_audio
	    
	     for (let i = 0; i < buttons.length; i++) {
	     	let button_name = buttons[i]
		let snd_name = sounds[i]
	     	let html_button = document.getElementById(button_name);
 		let snd = document.getElementById(snd_name)
 		
          	if (html_button){
		  	html_button.addEventListener('click', event => {
		  	  if (!playing && snd && snd.src){
		  	    try{
			    	snd.play();
			   	 playing = true;
			    } catch(error) {
			    	console.log(error)
			    }
			  }
			});
			snd.addEventListener('ended', event => {
			  playing = false;
			  startRefresh()
			});
		}
	     }
	    
          }
          
          if (!playing){
          	setTimeout(startRefresh, t);
    		
          }else{
          	console.log('Is playing...')
          	setTimeout(untilPlaying, t);
          	console.log('Continue refreshing')
          }
          
        })();
      }
      window.onload = function(){
        var d_table = document.getElementById('d_table')
        var d_div = document.getElementById('d_div')
        refresh(d_table, d_div)
      }
    </script>
  </body>
</html>
